@tailwind base;
@tailwind components;
@tailwind utilities;

.primart-color{
    color:#0da122;
}

.active-border {
    width: 15%;
    border-bottom: 5px solid #3c8f69;
    color: #3c8f69;
}

.inline-block{
    white-space: nowrap;
}

.float-right{
    float: right;
}

.center-icon{
    display: block;
    text-align: -webkit-center;
}

#show:hover .hide {
    display: flex;
    transition: transform 5000ms;
    transform: translateY(-10px);
}

.hide {
  display: none;
}

.margin-top-card{
    margin-top: -30%;
}

.coloum-heading {
    color: #3d38ff;
    padding: 4px 20px;
    background-color: #f2f3fe;
    border-radius: 13px;
    display: inline-block;
}
.testimonial-background {
    background-color: #333333;
}
ul.list_custom li:after {
    content: "";
    width: 70px;
    height: 1px;
    overflow: hidden;
    background: rgba(0, 0, 0, .08);
    position: absolute;
    left: 0;
    bottom: -11px;
}